<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891600067276-o7pm441aah696kd2e3vevvsu7o2j0fjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891600067276-o7pm441aah696kd2e3vevvsu7o2j0fjn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891600067276-krpjmdmj3nqr1uqqlakfd4e1aqvf9pjd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIYvl6r9yX9_DIWNKU167eMmt50rkxiAg</string>
	<key>GCM_SENDER_ID</key>
	<string>891600067276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniyu.app</string>
	<key>PROJECT_ID</key>
	<string>aniyu-b841b</string>
	<key>STORAGE_BUCKET</key>
	<string>aniyu-b841b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891600067276:ios:216e149f766e999f530069</string>
</dict>
</plist>